{% extends 'base.html.twig' %}

{% block title %}WELCOME DAREDEVIL{% endblock %}

{% block body %}
    <body style="background-color:red;">
    WELCOME BACK MATTHEW
    <br>
    TO REGISTER YOUR NIGHTS WORK PLEASE GO HERE
    <a href="{{ path ('secret_mode_index') }}">
        <br>
       Edit here
    </a>
    <br>
{% endblock %}